kind: Secret
apiVersion: v1
type: kubernetes.io/glusterfs
data:
  key: {{ admin_key | string | b64encode }}
metadata:
  name: heketi-admin-secret
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ storage_class_name }}
provisioner: kubernetes.io/glusterfs
allowVolumeExpansion: true
reclaimPolicy: Retain
parameters:
  resturl: "http://heketi.default.svc.cluster.local:8080"
  restuser: "admin"
  secretNamespace: "default"
  secretName: "heketi-admin-secret"
  volumetype: "none"