apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-forwarder-cm
  labels:
    app.kubernetes.io/component: forwarder
data:
  fluentd.conf: |
    # Ignore fluentd own events
    <match fluent.**>
      @type null
    </match>

    # HTTP input for the liveness and readiness probes
    <source>
      @type http
      port 9880
    </source>

    # Throw the healthcheck to the standard output instead of forwarding it
    <match fluentd.healthcheck>
      @type stdout
    </match>

    # Get the logs from the containers running in the node
    <source>
      @type tail
      path /var/log/containers/*.log
      # exclude Fluentd logs
      exclude_path ["/var/log/containers/*fluentd*.log", "/var/log/containers/*kibana*.log"]
      pos_file /opt/bitnami/fluentd/logs/buffers/fluentd-docker.pos
      tag kubernetes.*
      read_from_head true
      <parse>
        @type regexp
        expression /^\{"log":"(?<message>.*)","stream":"(?<stream>stdout|stderr)","time":"(?<time>.+)"\}$/
        time_format %Y-%m-%dT%H:%M:%S.%NZ
      </parse>
    </source>

    # enrich with kubernetes metadata
    <filter kubernetes.**>
      @type kubernetes_metadata
    </filter>

    # Send the logs to the ES
    <match **>
      @type elasticsearch
      include_tag_key true
      #host "#{ENV['ELASTICSEARCH_HOST']}"
      #port "#{ENV['ELASTICSEARCH_PORT']}"
      hosts "#{ENV['ELASTICSEARCH_HOSTS']}"
      logstash_format true
      logstash_prefix {{ fluentd_index_name }}

      <buffer>
        @type file
        path /opt/bitnami/fluentd/logs/buffers/logs.buffer
        flush_thread_count 2
        flush_interval 5s
      </buffer>
    </match>
